<div class = jumbotron>
    <h1>Eat-Da-Burger</h1>
    <p>Add a burger or devour it!</p>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <img class="center-block burgerImage" src="/assets/img/burgerattempt2.png">
    </div>
</div>
{{!-- burgers to eat --}}
<div class="row" >
    <div class="col-sm-3">
    </div>
    <div class="col-sm-4">
        <h6>BURGERS TO DEVOUR:</h6>
        <ul>
        {{#each allBurgers}}
            {{#unless devoured}}
                <li>{{this.burger_name}}</li>
                <button class="devour-burger" data-id="{{id}}">
                    Devour Burger!
                </button>
                <br>
                <br>
            {{/unless}}
        {{/each}}
        </ul>
    </div>
    <div class = "col-sm-4">
        {{!-- burgers devoured --}}
        <h6>DECOURED BURGERS:</h6>
        <ul>
        {{#each allBurgers}}
            {{#if devoured}}
            <li>{{this.burger_name}}</li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
    <div class="col-sm-1">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="buttonSubmit">
            <br>
            <br>
            <div class="form-group">
                <label for="bn">Enter Your Favorite Burger!</label>
                <textarea class="form-control" id="bn" rows="3"></textarea>
            </div>
            <button type="submit">Add Your Burger!</button>
        </form>
    </div>
</div>
<br>
<br>
<br>
<!-- footer -->
{{!-- <div class="footer">
    <p><a href="https://github.com/buelowek1225/burger">GitHub Repo</a></p>
</div> --}}
<footer clas="footer">
    <div class="container">
        <span class="text-muted"><a href="https://github.com/buelowek1225/burger">GitHub Repo</a></span>
    </div>
</footer>