body {
    background-color: #ffca63;
}

.jumbotron {
    background-color:white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
    text-align: center;
    border: 1px black solid;
}

.row {
  padding: unset;
  border: unset;
  margin-left: 30px;
  margin-right: 30px;
}

.buttonSubmit {
  text-align: center;
}

.burgerImage {
  width: 350px;
}

.container {
  background-color: #f5f5f5;
  text-align: center;
  position: fixed; 
  bottom: 0;
  padding-bottom: 1rem!important;
  padding-top: 1rem!important;
  padding: unset;
  max-width: 100%;
}

.form-control {
  border-color: black;
}